.cf
.footer.center
    a(href="http://www.anilloprimavera.org/"): img(class="org" src="../src/img/org/anillo.png")
    a(href="http://www.cimtra.org.mx/"): img(class="org" src="../src/img/org/cimtra.JPG")
    a(href="http://www.cladem.org/"): img(class="org cladem" src="../src/img/org/cladem.jpg")
    a(href="http://www.techo.org/paises/mexico/"): img(class="org" src="../src/img/org/techo.png")
    a(href="http://tomalaciudad.org/"): img(class="org" src="../src/img/org/tomala.jpg")
    a(href="http://wikipolitica.mx/"): img(class="org" src="../src/img/org/wikipolitica.png")
    a(href="https://github.com/CodeandoGuadalajara/empieza-aqui"): img(class="org" src="../src/img/org/codeando.png")
.center
    a(href='https://github.com/regenhans/informebajolupa' title="Proyecto Open Source"): img(class ="github" src="../src/img/github.png")
