head
    title= title || "Informe Bajo Lupa"
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(property="og:url"                content="http://informebajolupa.mx/")
    meta(property="og:title"              content="Informe Bajo Lupa")
    meta(property="og:description"        content="Verificamos los informes de gobierno de los alcaldes en Guadalajara y Zapopan")
    meta(property="og:image"              content="http://informebajolupa.mx/src/img/logo.png")
    meta(name='twitter:card', content='summary')
    meta(name='twitter:site', content='@informebajolupa')
    meta(name='twitter:title', content='Informe Bajo Lupa')
    meta(name='twitter:description', content='Verificamos los informes de gobierno de los alcaldes en Guadalajara y Zapopan')
    meta(name='twitter:image', content='http://informebajolupa.mx/src/img/logo.png"')
    link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,700|Roboto:400,500" rel="stylesheet")
    link(rel="stylesheet" type="text/css" href="../src/stylesheets/styles.css")
