script.
    function downloadJSAtOnload() {
    var element = document.createElement("script");
    element.src = "src/bower_components/jquery/dist/jquery.min.js";
    document.body.appendChild(element);
    }
    if (window.addEventListener)
        window.addEventListener("load", downloadJSAtOnload, false);
    else if (window.attachEvent)
        window.attachEvent("onload", downloadJSAtOnload);
    else window.onload = downloadJSAtOnload;

    function toggleinfo(element){
        $(element).siblings(".fullinfo").toggle();
    }
