@import "compass/reset";
@import "scss/font-awesome";
@import "../bower_components/jeet/scss/jeet/jeet";
@import "base";


//menu
.menu{
    position: absolute;
    top: $spacer;
    right: $spacer*2;
    ul li{
        display: inline-block;
        padding-left: $spacer;
        font-size: 1.2em;
    }
    a{
        color: $ocean;
        text-decoration: none;
        &:hover{
            text-decoration: underline;
        }
    }
}
.white{
    top: $spacer*1.5;
    a{
        color: white;
    }
}

// splash
.logo{
    max-width: 350px;
}
.select{
    font-size: 1.3em;
    a{
        margin-top: $spacer;
        @include cf();
        h4{
            margin-top: $space;
        }
        text-decoration: none;
        color: $ocean;
    }
    a:hover{
        text-decoration: underline;
    }
}
.escudo{
    max-width: 50%;
    text-align: center;
    margin: auto;
    display: block;
    @include cf();
    &:hover{
        opacity: 0.5;
    }
}

//main-info

.header{
    width: 100%;
    background: $black;
    color: white;
    display: inline-flex;
    align-items: center;
    .header-logo{
        height: 100px;
        display: inline-flex;
    }
    h1{
        padding-left: $spacer;
    }

}
.statement{
    .quote{
        display: inline-flex;
        align-items: center;
    }
    i{
        margin-right: $spacer;
    }
    h3{
        display: inline-block;
        color: $gray;
        cursor: pointer;
        padding: $space 0;
    }
    h3:hover{
        text-decoration: underline;
        color: lighten($ocean, 9%);
        background: lighten($light-gray, 2%);
    }
    .fullinfo{
        height: auto;
        display: none;
        margin: $space 0;
        .third h4{
            padding-bottom: $spacer;
            span{
                text-transform: capitalize;
            }
        }
        .third, .two-thirds{
            padding: $space 0;
            border-top: 2px solid $red;
        }
    }
}

.container h2{
    padding: $spacer 0;
}

.container ul li{
    display: inline-block;
    padding: $spacer;
}
#infraestructura, #participacion, #seguridad, #derechoshumanos, #ambiente, #economia, #otro, #transparencia, #omisiones{
    border-top: 4px solid gray;
    padding: $spacer;
    h2{
        color: $ocean;
    }
}

.footer{
    @include center(1100px);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: $spacer*3;
    a{
        @include col(1/7);
    }
    img.cladem{
        max-width: 40px;
    }
}
//github swag
.github{
    height: 60px;
    padding-bottom: $spacer;
}
//semaforo
.fa-circle{
    color: gray;
}
.verdadero{
    color: $green;
}

.falso{
    color: red;
}

.dificilcomprobar, .engañoso, .omisiones{
    color: $orange;
    .veredicto{
        color: $orange;
    }
}

// acerca
.acerca{
    margin: $spacer*2 0;
}
