doctype html
html
    include includes/head
    body
        .menu
            ul
                li: a(href='acerca') Acerca de
        .container.center
            img(class="logo" src="../src/img/logo.png")
            h2 Verificamos los informes de gobierno de los alcaldes
            .half.select.center
                a(href="guadalajara")
                    img(class="escudo"  src="../src/img/guadalajara.png")
                    h4 En Guadalajara
            .half.select.center
                a(href="zapopan")
                    img( class="escudo"  src="../src/img/zapopan.png")
                    h4 En Zapopan
