doctype html
html
    include includes/head
    body
        .container.center
            img(class="logo" src="../src/img/logo.png")
            h2 Verificamos los informes de gobierno de los alcaldes
            .half.select: a(href="guadalajara") En Guadalajara
            .half.select: a(href="zapopan") En Zapopan
