html
	include includes/head
	include includes/mixins
	body
		+header("Afirmaciones durante el informe de gobierno de Toluca")
		include includes/data-template
		include includes/footer
		script(src="src/js/analytics.js")
